In [55]:
import pandas as  pd
import numpy as np

In [56]:
list1=[1,2,'name']
s1=pd.Series(data=list1)#强制类型统一

In [57]:
s1

0       1
1       2
2    name
dtype: object

In [58]:
s1.dtype

dtype('O')

In [59]:
data=np.random.randint(0,100,size=(3,4))
index=['tom','lucy','alex']
colums=['语文','数学','英语','化学']

In [60]:

pd.DataFrame(data=data,index=index,columns=colums)
# data=None 用于构造DataFrame数据
#index=None,colums=None,行列索引
#dtype=Mone数据类型
#copy=False

      语文  数学  英语  化学
tom   49  32  87   0
lucy  88  27  99  81
alex  99   7  13  88

In [61]:
names=['tom','lucy','alex','liu','mery']
yuwen=np.random.randint(0,100,size=5)
shuxue=np.random.randint(0,100,size=5)
display(names,yuwen,shuxue)

['tom', 'lucy', 'alex', 'liu', 'mery']

array([55, 62, 13, 72, 39])

array([60, 99, 42,  7, 64])

In [62]:
dict={
    'names':names,
    '语文':yuwen,
    '数学':shuxue
}
score=pd.DataFrame(data=dict)

In [63]:
names=pd.Series(data=['tom','lucy','mery'],index=list('ABC'))
scores=pd.Series(data=np.random.randint(0,100,size=3),index=list('ABC'))
pd.DataFrame(data={
    'name':names,
    'Scores':scores
})

   name  Scores
A   tom      25
B  lucy      97
C  mery       7

In [64]:
dict={
    'name':'Lucy',
    'score':90
}
pd.DataFrame(data=dict,index=[1])

   name  score
1  Lucy     90

In [65]:
dict1={
    'name':'Lucy',
    'score':90
}
dict2={
    'name':'Liu',
    'score':100
}
l1=[dict1,dict2]
pd.DataFrame(data=l1)

   name  score
0  Lucy     90
1   Liu    100

属性

In [66]:
score.dtypes

names    object
语文        int64
数学        int64
dtype: object

In [67]:
score.values

array([['tom', 55, 60],
       ['lucy', 62, 99],
       ['alex', 13, 42],
       ['liu', 72, 7],
       ['mery', 39, 64]], dtype=object)

In [68]:
score.index

RangeIndex(start=0, stop=5, step=1)

In [69]:
score.columns

Index(['names', '语文', '数学'], dtype='object')