In [38]:
import numpy as np
import pandas as pd

In [39]:
df=pd.DataFrame(data=np.random.randint(0,10,size=(5,3)))
df.index

RangeIndex(start=0, stop=5, step=1)

In [40]:
df.index=list('abcde')

In [41]:
df

   0  1  2
a  2  6  4
b  8  1  2
c  3  6  4
d  1  7  0
e  7  2  0

In [42]:
df.columns=[1,2,3]
df

   1  2  3
a  2  6  4
b  8  1  2
c  3  6  4
d  1  7  0
e  7  2  0

### 代码 `df.columns` 的解释

1. `df.columns` 属性用于获取或设置 DataFrame 的列标签（列名）。
2. 返回值是一个 `Index` 对象，包含所有列的标签。

总结：这段代码返回 DataFrame `df` 的列名列表。

In [43]:
pd.Index(data=[1,2,3])

Index([1, 2, 3], dtype='int64')

### 代码 `pd.Index(data=[1,2,3])` 的解释

1. `pd.Index` 是 pandas 中的一个类，用于创建索引对象。
2. 参数 `data=[1,2,3]` 表示索引的值为 `[1, 2, 3]`。
3. 返回值是一个 `Index` 对象，可以用作 DataFrame 或 Series 的行索引或列索引。

总结：这段代码创建了一个包含 `[1, 2, 3]` 的 pandas 索引对象。

In [44]:
pd.RangeIndex(start=0,stop=10,step=1,name='index')

RangeIndex(start=0, stop=10, step=1, name='index')

### 代码 `pd.RangeIndex(start=0,stop=10,step=1)` 的解释

1. `pd.RangeIndex` 是 pandas 中的一种特殊索引类型，用于表示范围索引。
2. 参数 `start=0` 表示索引的起始值为 `0`。
3. 参数 `stop=10` 表示索引的结束值为 `10`（不包含 `10`）。
4. 参数 `step=1` 表示索引的步长为 `1`。

总结：这段代码创建了一个从 `0` 到 `9`（步长为 `1`）的 pandas 范围索引对象。

In [45]:
np.arange(0,10,step=1)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [46]:
df.index = pd.RangeIndex(start=0, stop=len(df), step=1, name='index')
df

       1  2  3
index
0      2  6  4
1      8  1  2
2      3  6  4
3      1  7  0
4      7  2  0

In [47]:
level1=['第一期','第二期']
level2=['A','B','C']
columns=pd.MultiIndex.from_product([level1,level2],names=['期数','产品'])
index=pd.Index(data=['lucy','tom','alex'],name='销售员')
data=np.random.randint(0,100,size=(3,6))
df=pd.DataFrame(data=data,index=index,columns=columns)

In [48]:
df

期数   第一期         第二期
产品     A   B   C   A   B   C
销售员
lucy  50  58   1  20  15  90
tom   64  24  49  24  93  44
alex  92  44  20  58  17  18

### 代码 `pd.MultiIndex.from_product([level1,level2])` 的解释

1. `pd.MultiIndex.from_product` 方法用于创建一个多级索引（MultiIndex）。
2. 参数 `[level1, level2]` 表示两个级别的索引：
   - `level1=['第一期','第二期']` 是第一级索引。
   - `level2=['A','B','C']` 是第二级索引。
3. 该方法会生成两个级别的笛卡尔积，形成所有可能的组合。

总结：这段代码创建了一个多级索引，其中第一级为 `'第一期'` 和 `'第二期'`，第二级为 `'A'`、`'B'` 和 `'C'`，总共包含 6 个组合。

### 代码块的解释

1. 定义两个列表：
   - `level1=['第一期','第二期']` 表示第一级索引的值。
   - `level2=['A','B','C']` 表示第二级索引的值。

2. 使用 `pd.MultiIndex.from_product` 方法创建一个多级列索引：
   - 参数 `[level1, level2]` 生成两个级别的笛卡尔积。
   - 参数 `names=['期数','产品']` 为两个级别的索引命名。

3. 使用 `pd.Index` 创建行索引：
   - 参数 `data=['lucy','tom','alex']` 指定行索引的值。
   - 参数 `name='销售员'` 为行索引命名。

4. 使用 `np.random.randint` 生成一个 3 行 6 列的随机整数数组作为数据。

5. 使用 `pd.DataFrame` 创建一个 DataFrame：
   - 参数 `data=data` 指定数据。
   - 参数 `index=index` 指定行索引。
   - 参数 `columns=columns` 指定多级列索引。

总结：这段代码创建了一个具有多级列索引和命名行索引的 DataFrame，其中列索引表示期数和产品，行索引表示销售员，数据为随机生成的整数。

In [49]:
index=pd.MultiIndex.from_product([['第一期','第二期'],['lucy','tom','alex']])
columns=pd.Index(data=['A','B','C'],name='产品名称')
data=np.random.randint(0,100,size=(6,3))
df=pd.DataFrame(data=data,index=index,columns=columns)
df

产品名称       A   B   C
第一期 lucy  70  54  29
    tom   59  37  81
    alex  73  88  90
第二期 lucy   0   6  53
    tom   95  58  78
    alex  83  27  51

### 代码块的解释

1. 使用 `pd.MultiIndex.from_tuples` 方法创建一个多级列索引：
   - 参数 `tuples` 是一个包含元组的列表，每个元组表示多级索引的一个组合。
   - 例如，`('第一期', 'lucy')` 表示第一级索引为 `'第一期'`，第二级索引为 `'lucy'`。

2. 定义行索引：`index=list('ABC')`，表示行索引为 `'A'`、`'B'` 和 `'C'`。

3. 使用 `np.random.randint` 生成一个 3 行 6 列的随机整数数组作为数据。

4. 使用 `pd.DataFrame` 创建一个 DataFrame：
   - 参数 `data=data` 指定数据。
   - 参数 `index=index` 指定行索引。
   - 参数 `columns=tuples` 指定多级列索引。

总结：这段代码创建了一个具有多级列索引的 DataFrame，其中列索引表示期数和人员，行索引为 `'A'`、`'B'` 和 `'C'`，数据为随机生成的整数。

In [50]:
tuples=pd.MultiIndex.from_tuples([('第一期','lucy'),
                                  ('第一期','tom'),
                                  ('第一期','alex'),
                                  ('第二期','lucy'),
                                  ('第二期','tom'),
                                  ('第二期','alex'),])
index=list('ABC')
data=np.random.randint(0,100,size=(3,6))
pd.DataFrame(data=data,index=index,columns=tuples)

   第一期           第二期
  lucy tom alex lucy tom alex
A   64  10   96   86  84   50
B   82  54   96   33  75   56
C   65  75   49   21  79   18