In [113]:
import pandas as pd

In [114]:
s3=pd.Series(data=[1,2,3,4],index=list('ABCD'))
s3.A

1

In [115]:
s3['A']

1

In [116]:
user_info={
    'name':'aaa',
    'age':20,
    'address':'A'
}

In [117]:
s4=pd.Series(data=user_info)

In [118]:
s4['name']

'aaa'

In [119]:
print(s4.name)

None

In [120]:
pd.Series(data=[1,2,3],index=list('ABC'),name='liu')

A    1
B    2
C    3
Name: liu, dtype: int64

In [121]:
s=pd.DataFrame(pd.Series(data=[1,2,3],index=list('ABC'),name='liu'))
s

   liu
A    1
B    2
C    3

### 代码解释
这段代码首先创建了一个 pandas 的 `Series` 对象，数据为 `[1, 2, 3]`，索引为 `['A', 'B', 'C']`，并将其命名为 `'liu'`。
然后将该 `Series` 转换为一个 pandas 的 `DataFrame` 对象。
生成的 `DataFrame` 将包含一个名为 `'liu'` 的列，索引为 `['A', 'B', 'C']`，对应的值为 `[1, 2, 3]`。

In [122]:
s.shape

(3, 1)

In [123]:
s.index#索引

Index(['A', 'B', 'C'], dtype='object')

In [124]:
s.values#值

array([[1],
       [2],
       [3]])

In [ ]:
s.size#元素个数

3