In [208]:
import pandas as pd

In [209]:
user_info={
    'name':'aaa',
    'age':20,
    'address':'A'
}#字典元素无序,不支持索引访问

In [210]:
user_info['name']

'aaa'

In [211]:
import numpy as np
import pandas as pd

In [212]:
arr1=np.random.randint(0,10,size=5)
arr1

array([6, 7, 6, 4, 4])

In [213]:
s1=pd.Series(data=arr1)

In [214]:
s1

0    6
1    7
2    6
3    4
4    4
dtype: int64

In [215]:
s2=pd.Series(data=arr1,index=['A','B','C','D','E'])#index制定索引
s2

A    6
B    7
C    6
D    4
E    4
dtype: int64

In [216]:
l1=[1,2,3,4]
s3=pd.Series(data=l1,index=list('ABCD'))
s3

A    1
B    2
C    3
D    4
dtype: int64

In [217]:
arr1[0]=100

In [218]:
s1

0    100
1      7
2      6
3      4
4      4
dtype: int64

In [219]:
l1[0]=100

In [220]:
l1

[100, 2, 3, 4]

In [221]:
s3=pd.Series(data=l1,index=list('ABCD'))
s3

A    100
B      2
C      3
D      4
dtype: int64

`s3` 是一个由列表 `l1` 和索引 `['A', 'B', 'C', 'D']` 构造的 pandas Series 对象。它的索引为字母，数据为列表中的值。通过显示 `s3`，可以看到每个索引对应的值，类似于带标签的一维数组。

In [222]:
user_info

{'name': 'aaa', 'age': 20, 'address': 'A'}

In [ ]:
pd.Series(data=user_info)#字典构造默认key为索引

name       aaa
age         20
address      A
dtype: object

In [224]:
pd.Series(data=user_info,index=['A','B','C'])#覆盖原字典

A    NaN
B    NaN
C    NaN
dtype: object

In [225]:
pd.Series(data=user_info,index=['name','address','A'])

name       aaa
address      A
A          NaN
dtype: object

In [226]:
index=list('ABCDE')
index

['A', 'B', 'C', 'D', 'E']

In [227]:
data=[6,6,6,6,6]
pd.Series(data=data,index=index)

A    6
B    6
C    6
D    6
E    6
dtype: int64